In [1]:
import pandas as pd
import re

In [2]:
def attendance(x):
    x = x.replace('-','')
    l = list(set(re.findall('\d{13}',x)))
    return pd.DataFrame({"CNIC":l})

In [3]:
x = """
Ali Yaqoob3:58 PM
not from IT
Imran Ejaz3:58 PM
no from accounting.
Zeeshan Yaseen3:58 PM
Prediction and automation !
Ali Yaqoob3:59 PM
Automation, hence accuracy plus time saving.
Ali Yaqoob4:09 PM
chatgpt se hi search kerlen ge üòÅ
Ali Yaqoob4:21 PM
aammeen
Aijaz Ahmed5:36 PM
4520691925699
Abdulrafay Memon5:36 PM
45204-3483907-1
Zeeshan Yaseen5:36 PM
4220141892019
Syed Muzammil Haider5:36 PM
4210149039311
ShahzadAzam Hashmi5:36 PM
36302-4791284-7
Ali Yaqoob5:36 PM
4210150317619
M. A. Miher5:36 PM
3720117887067
syed daniyal5:36 PM
4250189782769
Dr Nadeem Shah5:36 PM
4130464926599
Iqra Talha5:37 PM
6110120315128
Sibtain Ahmed5:37 PM
41303-5613312-5
Imran Ejaz5:37 PM
Imran Ejaz 4200044884823
Ali Jilani5:37 PM
42201-1405671-9
Sundus Baloch5:37 PM
41201-0883673-2
Suhail Arif5:37 PM
Suhail Arif Hussain 422017677201
Sadiq Fazal5:37 PM
42101-7245686-0
Zain Naqvi5:37 PM
4220147830681
salman soorani5:37 PM
4210124505207
Umer Fariq5:37 PM
4220122685447
Hassan Qamar5:37 PM
Hassan Qamar 4220110629561
wardah siddiqui5:37 PM
4210166120772
muhammad anas5:37 PM
4210113165975
Saad Shoaib5:37 PM
41304-1401693-1
Nasir Ali5:37 PM
4330401845851
Fahad Aziz Khan5:38 PM
4220195795061
Muhammad Haneef5:38 PM
42201-3466487-5
MARYAM RASHID5:38 PM
42101-9854842-0
ehzam ahmed5:38 PM
42201-7632311-1
Ali Jilani5:38 PM
4220114056719
Raheel Sadruddin5:38 PM
4210129790553
Waleed Ahmed Siddiqui5:38 PM
4210195297779
Munir Mirza5:38 PM
42101-0575629-9
Hassan Saleem5:38 PM
42101-9952553-5
Ahmed Ali5:38 PM
42101-0724035-9
Hassan Qamar5:38 PM
4220110629561
Raheel Sadruddin5:38 PM
4210105390867
Mohsin Kamal5:39 PM
4230108855633
Arsalan Shaikh5:39 PM
42201-6205339-3
Ayaz Muhammad5:39 PM
45202-8263294-7 
Muhammad Ayaz
Present
Nasir Ali5:39 PM
4330401845851
Sadaf Tirmizi5:39 PM
42101-7246731-0
Sheza Shams5:39 PM
42201-0218814-0
Ayaz Muhammad5:39 PM
45202826329467
Zubair ,5:40 PM
1310104942039
Noman Younus5:40 PM
4220102372205
Suhail Arif5:40 PM
4220176777201
osama saleem5:40 PM
42201-8286143-9
42101-1693504-9
4220188550515
Muneeb Bhania5:41 PM
42101-3818298-7
Sundus Baloch5:41 PM
4120108836732
usama hanif5:41 PM
42101-3220905-9
Muneeb Bhania5:41 PM
42501-7775696-8
Ahmer Tariq5:41 PM
42201-3054964-3
Nasir Ali5:41 PM
Kamran
4230122270821
Umair Sajid5:41 PM
42201-1539594-3
Misbah Sabir5:42 PM
42101-5742100-4
Nasir Ali5:42 PM
Hassan
4240134843465
Misbah Sabir5:42 PM
42101-5802137-4
Qureshi Kainat5:42 PM
5540124860782
Misbah Sabir5:42 PM
4220108354184
Engr Mahmood Ul Hassan5:43 PM
4250185234859
Qureshi Kainat5:43 PM
4210157421004
Mohsin Kamal5:43 PM
4230108855633
Qureshi Kainat5:43 PM
4220187822116
4220178140796
upq-oxma-vmi
"""
df1 = attendance(x)
df1['c1'] = 1
print(len(df1))
df1.head()

59

            CNIC  c1
0  4210157421004   1
1  4210166120772   1
2  4210195297779   1
3  4520434839071   1
4  4220178140796   1

# Class2

In [4]:
x = """
Ahtisham Ali Khan3:49 PM
Present
Kamran Younus4:06 PM
Muhammad Kamran Younus 42301-2227082-1
Abdulrafay Memon4:10 PM
45204-3483907-1
Athar Khalid4:10 PM
why nic no?
Fahad Aziz Khan4:14 PM
its called Proprietary Products/Applications
Umer Fariq4:20 PM
cant see the shared screen
Imran Ejaz4:21 PM
Share the screen
Athar Khalid4:26 PM
gmail address is fine , sir
Kamran Younus4:30 PM
Anaconda 32 bit windows pe download ho Jaye ga?
Ifra Siddiqui4:36 PM
can you repeat once again?
M. A. Miher4:39 PM
print("Hello World?")
Imran Ejaz4:42 PM
sir jupitar per likh sukty hain?
Athar Khalid4:44 PM
done
Abdulrafay Memon4:50 PM
ji sir
Athar Khalid5:06 PM
recording drive pe share krdi  ha
Suhail Arif5:28 PM
4220176777201
insharah khan5:28 PM
4210131827012
Sundus Baloch5:28 PM
4120108835732
Ali Nawaz5:28 PM
4220157226073
Ayaz Muhammad5:28 PM
45202-8263294-7
M. A. Miher5:28 PM
3720117887067
Imran Ejaz5:28 PM
4200044884823
Muhammad Haneef5:28 PM
4220134664875
Nasir Ali5:28 PM
4330401845851
ShahzadAzam Hashmi5:28 PM
3630247912847
Mahnoor Arif5:28 PM
4220178140796
Farooq Ahmad5:28 PM
3520294446451
Noman Younus5:28 PM
4220102372205
Ifra Siddiqui5:28 PM
4250177756968
muhammad anas5:29 PM
4210113165975
Sibtain Ahmed5:29 PM
4130356133125
Abdul Mannan Khan5:29 PM
4220143572841
Abdulrafay Memon5:29 PM
4520434839071
daniyal5:29 PM
4250189782769
Zubair ,5:29 PM
1310104942039
Misbah Sabir5:29 PM
4210158021374
Fahad Aziz Khan5:29 PM
422019579065
salman soorani5:29 PM
4210124505207
Hassan Saleem5:29 PM
42101-9952553-5
Asad Khan5:29 PM
3830155517583
Athar Khalid5:29 PM
4210158892613
Fuzail Muzaffar5:29 PM
4250181112217
Sadiq Fazal5:29 PM
42101-7245686-0
Abdul Haseeb Khan5:29 PM
4220103084339
Farah Asif5:29 PM
3740680876662
Qureshi Kainat5:29 PM
5540124860782
Umair Sajid5:29 PM
4220115395943
osama saleem5:29 PM
4220182861439
ehzam ahmed5:29 PM
4220176323111
Saad Shoaib5:29 PM
4130414016931
Zafar Abbas5:29 PM
Zafar Abbas
Muneeb Bhania5:29 PM
4210138182987
Umer Fariq5:29 PM
4220122685447
Sadaf Tirmizi5:29 PM
42101-7245781-0
Atif Khan5:29 PM
4210102810113
Raheel Sadruddin5:29 PM
4210129790553
Hassan Qamar5:29 PM
4220110629561
Dr Nadeem Shah5:29 PM
4130464926599
wardah siddiqui5:29 PM
4210166120772
Mohsin Kamal5:29 PM
4230108855633
Munir Soorani5:29 PM
42101-0575629-9
Engr Mahmood Ul Hassan5:29 PM
4250185234859
Zafar Abbas5:29 PM
Zafar Abbas
37405-2371844-9
usama hanif5:29 PM
42101-3220905-9
Farah Asif5:29 PM
4210157421004
Ali Jilani5:29 PM
4220114056719
SHAHRUKH KHAN5:29 PM
4210105390867
Atif Khan5:30 PM
Atif shahzad 4210102810113
Raja Waleed5:30 PM
4220188550515
SHAHRUKH KHAN5:30 PM
4210116935049
Arsalan Shaikh5:30 PM
42201-6205339-3
Farah Asif5:30 PM
4220187822116
Syed Muzammil Haider5:30 PM
4210149039311
Farah Asif5:30 PM
4320307738760
Sadaf Tirmizi5:31 PM
42101-7245781-0
Maria Noor Amjad5:31 PM
61101-1956982-0
Syed Muzammil Haider5:31 PM
4210172457810
Aimen Iftikhar5:31 PM
Aimen
4220177849728
Sheza Shams5:31 PM
4220102188140
Rida Batool5:31 PM
42101-7245781-0
Umair Sajid5:32 PM
4140703835369
Mohsin Kamal5:32 PM
4230108855633
Umair Sajid5:32 PM
42101-2548111-7
Ahmed Ali5:32 PM
42101-0724035-9
Nasir Ali5:32 PM
Muhammad Sameer
4230135829705
Ali Yaqoob5:32 PM
4210150317619
obaid rehman5:34 PM
4240113406009
3630230577559
upq-oxma-vmi
"""
df2 = attendance(x)
print(len(df2))
df2['c2'] = 1
df2.head()

67

            CNIC  c2
0  4210157421004   1
1  4210166120772   1
2  3740523718449   1
3  4520434839071   1
4  4220178140796   1

In [11]:
x = """
Engr Mahmood Ul Hassan4:00‚ÄØPM
4250185234859
Abdul Haseeb Khan4:01‚ÄØPM
4220103084339
amir sohail4:01‚ÄØPM
4140703835369
Fahad Aziz Khan4:01‚ÄØPM
4220195795065
Usama Ahmed4:01‚ÄØPM
61101-9688391-5
Hina Hyder4:01‚ÄØPM
43203-0773876-0
Saad Shoaib4:02‚ÄØPM
4130414016931
M. A. Miher4:02‚ÄØPM
3720117887067
sadia faiyaz4:02‚ÄØPM
yes
Ali Jilani4:02‚ÄØPM
Jee sir
4220114056719
Athar Khalid4:02‚ÄØPM
4210158892613
Suhail Arif4:02‚ÄØPM
Suhail Arif Hussain 422017677201
Farah Asif4:03‚ÄØPM
3740680876662
Imran Ejaz4:03‚ÄØPM
4200044884823
Ali Yaqoob4:04‚ÄØPM
4210150317619
Umair Sajid4:04‚ÄØPM
42201-1539594-3
Farooq Ahmad4:04‚ÄØPM
3520294446451
Ayaz Muhammad4:05‚ÄØPM
4520282632947
Abdul Mannan Khan4:05‚ÄØPM
4220143572841
Muhammad Uzair4:05‚ÄØPM
4210125481117
osama saleem4:07‚ÄØPM
4220182861439
M. A. Miher4:10‚ÄØPM
screen not shared
Ali Yaqoob4:17‚ÄØPM
games
Abdul Haseeb Khan4:17‚ÄØPM
Car's make model variant
are attributes
Ali Yaqoob4:21‚ÄØPM
Function :  How to use
Attribute : How to identify
Muhammad Usama4:28‚ÄØPM
Sir, I have some issues with microphone
Can we do the same on Google Colab
instead of Jupyter Notebook
Ali Yaqoob4:36‚ÄØPM
yes
Muhammad Usama4:48‚ÄØPM
difference between double quote and single quote ?
Sheza Shams4:51‚ÄØPM
sir, you dont need inverted commas for integer and float?
M. A. Miher4:52‚ÄØPM
date or time?
Muhammad Usama4:54‚ÄØPM
yes
insharah khan4:55‚ÄØPM
kindly share link of class
Sheikh Meraj Uddin4:56‚ÄØPM
Class Code please
Ali Yaqoob4:56‚ÄØPM
https://classroom.google.com/c/NTgxNTQxNjg4MTA2
Sheikh Meraj Uddin4:57‚ÄØPM
not connected
Ali Yaqoob4:57‚ÄØPM
sir i m already viewing it
Muhammad Usama4:58‚ÄØPM
username
Sheikh Meraj Uddin4:58‚ÄØPM
skmairaj@gmail.com
Ali Yaqoob4:59‚ÄØPM
aap login hain already?
Muhammad Usama4:59‚ÄØPM
I was just telling example for a variable
pictures
Owais Ahmed5:00‚ÄØPM
class code no?
Ali Yaqoob5:00‚ÄØPM
https://classroom.google.com/c/NTgxNTQxNjg4MTA2

complete link
Sheikh Meraj Uddin5:00‚ÄØPM
logged in on meet
Owais Ahmed5:00‚ÄØPM
owaisahmed783@gmail.com
Ali Yaqoob5:01‚ÄØPM
sir usi browser mai new tab mai try kerain yeh link
Sheikh Meraj Uddin5:05‚ÄØPM
Still class not found
Ali Yaqoob5:07‚ÄØPM
sir its permission issue i guess then
Sheikh Meraj Uddin5:07‚ÄØPM
May b
Ali Yaqoob5:08‚ÄØPM
coz i have tried by using another ID and observed the same error 'class not found'.
Muhammad Usama5:21‚ÄØPM
sir integer k liye yeh ID nahi aati ?
Engr Mahmood Ul Hassan5:23‚ÄØPM
Memory size?
Aijaz Ahmed5:24‚ÄØPM
no memoery address
Muhammad Usama5:26‚ÄØPM
# detay hain
Sir attendance laga den
Zeeshan Yaseen5:34‚ÄØPM
variable
Muhammad Usama5:34‚ÄØPM
variable
Hassan Qamar5:43‚ÄØPM
4220110629561
Ali Nawaz5:44‚ÄØPM
4220157226073
Noor Saba5:44‚ÄØPM
4220187822116
Zeeshan Yaseen5:44‚ÄØPM
yes
amir sohail5:44‚ÄØPM
4240113406009
daniyal5:44‚ÄØPM
4250189782769
Dr Nadeem Shah5:44‚ÄØPM
4130464926599
Raja Waleed5:45‚ÄØPM
422018855055
sadia faiyaz5:45‚ÄØPM
4210157421004
Fuzail Muzaffar5:45‚ÄØPM
4250181112217
salman soorani5:45‚ÄØPM
4210124505207
Munir Mirza5:45‚ÄØPM
42101-0575629-9
Muhammad Haneef5:45‚ÄØPM
4220134664875
Arsalan Shaikh5:45‚ÄØPM
42201-6205339-3
Muneeb Bhania5:45‚ÄØPM
4210138182987
Insharah Khan5:46‚ÄØPM
4210131827012
ShahzadAzam Hashmi5:46‚ÄØPM
3630247912847
Muneeb Bhania5:46‚ÄØPM
4250177756968
ehzam ahmed5:46‚ÄØPM
4220176323111
Imran Ejaz5:46‚ÄØPM
4200044884823
Maria Noor Amjad5:46‚ÄØPM
6110119569820
Mahnoor Arif5:47‚ÄØPM
4220178140796
Qureshi Kainat5:47‚ÄØPM
5540124860782
Zeeshan Yaseen5:47‚ÄØPM
4220141892019
Nasir Ali5:47‚ÄØPM
4330401845851
Ali Yaqoob5:47‚ÄØPM
4210150317619
Mohsin Kamal5:47‚ÄØPM
4230108855633
Abdul Mannan Khan5:47‚ÄØPM
4220143572841
Muhammad Usama5:47‚ÄØPM
4220115395943
osama saleem5:47‚ÄØPM
4220182861439
SHAHRUKH KHAN5:47‚ÄØPM
4210105390867
Aijaz Ahmed5:47‚ÄØPM
4520691925699
muhammad anas5:47‚ÄØPM
4210113165975
Hina Hyder5:47‚ÄØPM
43203-0773876-0
Zubair ,5:47‚ÄØPM
1310104942039
Raheel Sadruddin5:47‚ÄØPM
4210129790553
Umer Fariq5:47‚ÄØPM
4220122685447
Hassan Saleem5:47‚ÄØPM
4210199525535
Ahsan Fayyaz5:47‚ÄØPM
4220115069023
Sibtain Ahmed5:47‚ÄØPM
4130356133125
Syed Muzammil Haider5:47‚ÄØPM
4210149039311
Rida Batool5:47‚ÄØPM
42101-7245781-0
Suhail Arif5:47‚ÄØPM
Suhail Arif Hussain 4220176777201
Saad Shoaib5:47‚ÄØPM
4130414016931
Wajid Khan5:47‚ÄØPM
42101-1693504-9
usama hanif5:47‚ÄØPM
42101-3220905-9
Sadiq Fazal5:47‚ÄØPM
42101-7245686-0
Misbah Sabir5:47‚ÄØPM
4210158021374
Usama Ahmed5:48‚ÄØPM
6110196883915
Noman Younus5:48‚ÄØPM
4220102372205
Nasir Ali5:48‚ÄØPM
Muhammad Hasan
4240134843465
Sheza Shams5:48‚ÄØPM
42201-0218814-0
Ali Mehdi5:48‚ÄØPM
4220193871331
Mohsin Kamal5:48‚ÄØPM
4230108855633
Sheikh Meraj Uddin5:49‚ÄØPM
4210192333399
Owais Ahmed5:49‚ÄØPM
Syed Owais Ahmed
42201-0319489-3
Rida Batool5:49‚ÄØPM
4210172457810
Kamran Younus5:49‚ÄØPM
4230122270821
Iqra Talha5:50‚ÄØPM
6110120315128
upq-oxma-vmi
"""

df3 = attendance(x)
print(len(df3))
df3['c3'] = 1
df3.head()

66

            CNIC  c3
0  4210157421004   1
1  4220178140796   1
2  4320307738760   1
3  4250177756968   1
4  4130356133125   1

# Final

In [13]:
df = df1.merge(df2,on='CNIC', how='outer').fillna(0).merge(
    df3, on="CNIC",how="outer"
).fillna(0)

df['total'] = df.iloc[:,1:].astype(int).sum(axis=1)
df.sort_values(by="total", inplace=True, ascending=False)
print(len(df))
display(df.iloc[:,1:-1].sum(axis=0))
display(df.head(60))
display(df.iloc[60:,:])

86

c1    59.0
c2    67.0
c3    66.0
dtype: float64

             CNIC   c1   c2   c3  total
0   4210157421004  1.0  1.0  1.0      3
26  4130464926599  1.0  1.0  1.0      3
28  4230108855633  1.0  1.0  1.0      3
29  4220110629561  1.0  1.0  1.0      3
30  4230122270821  1.0  1.0  1.0      3
31  4520282632947  1.0  1.0  1.0      3
33  4220134664875  1.0  1.0  1.0      3
34  4210172456860  1.0  1.0  1.0      3
36  4220102188140  1.0  1.0  1.0      3
37  3720117887067  1.0  1.0  1.0      3
39  4210116935049  1.0  1.0  1.0      3
42  4210105390867  1.0  1.0  1.0      3
44  4330401845851  1.0  1.0  1.0      3
45  4250185234859  1.0  1.0  1.0      3
47  4210158021374  1.0  1.0  1.0      3
49  4250189782769  1.0  1.0  1.0      3
50  5540124860782  1.0  1.0  1.0      3
51  1310104942039  1.0  1.0  1.0      3
52  4220114056719  1.0  1.0  1.0      3
54  4210199525535  1.0  1.0  1.0      3
55  4220115395943  1.0  1.0  1.0      3
57  4220122685447  1.0  1.0  1.0      3
58  4220176323111  1.0  1.0  1.0      3
27  4210113165975  1.0  1.0  1.0      3
35  3630247912847  1.0  1.0  1.0      3
11  4210129790553  1.0  1.0  1.0      3
16  4210132209059  1.0  1.0  1.0      3
7   4220176777201  1.0  1.0  1.0      3
24  4220102372205  1.0  1.0  1.0      3
6   4250177756968  1.0  1.0  1.0      3
12  4220187822116  1.0  1.0  1.0      3
5   4130356133125  1.0  1.0  1.0      3
13  4210149039311  1.0  1.0  1.0      3
4   4220178140796  1.0  1.0  1.0      3
8   4200044884823  1.0  1.0  1.0      3
9   4130414016931  1.0  1.0  1.0      3
17  4220162053393  1.0  1.0  1.0      3
18  4210150317619  1.0  1.0  1.0      3
19  4210124505207  1.0  1.0  1.0      3
20  4210105756299  1.0  1.0  1.0      3
21  4220182861439  1.0  1.0  1.0      3
22  4210138182987  1.0  1.0  1.0      3
61  4320307738760  0.0  1.0  1.0      2
76  4220143572841  0.0  1.0  1.0      2
3   4520434839071  1.0  1.0  0.0      2
56  4220188550515  1.0  1.0  0.0      2
62  6110119569820  0.0  1.0  1.0      2
77  4250181112217  0.0  1.0  1.0      2
74  4210125481117  0.0  1.0  1.0      2
75  3520294446451  0.0  1.0  1.0      2
69  4210131827012  0.0  1.0  1.0      2
48  4520691925699  1.0  0.0  1.0      2
46  4240134843465  1.0  0.0  1.0      2
65  4210158892613  0.0  1.0  1.0      2
1   4210166120772  1.0  1.0  0.0      2
78  4210172457810  0.0  1.0  1.0      2
79  4240113406009  0.0  1.0  1.0      2
72  4140703835369  0.0  1.0  1.0      2
38  4210107240359  1.0  1.0  0.0      2
15  6110120315128  1.0  0.0  1.0      2

             CNIC   c1   c2   c3  total
71  3740680876662  0.0  1.0  1.0      2
68  4220157226073  0.0  1.0  1.0      2
23  4220141892019  1.0  0.0  1.0      2
64  4220103084339  0.0  1.0  1.0      2
73  3630230577559  0.0  1.0  0.0      1
81  4220195795065  0.0  0.0  1.0      1
84  4220115069023  0.0  0.0  1.0      1
82  4210192333399  0.0  0.0  1.0      1
80  4220103194893  0.0  0.0  1.0      1
83  4220193871331  0.0  0.0  1.0      1
43  4220130549643  1.0  0.0  0.0      1
70  3830155517583  0.0  1.0  0.0      1
67  4210102810113  0.0  1.0  0.0      1
66  4230135829705  0.0  1.0  0.0      1
63  4220177849728  0.0  1.0  0.0      1
60  4120108835732  0.0  1.0  0.0      1
59  3740523718449  0.0  1.0  0.0      1
53  4210198548420  1.0  0.0  0.0      1
41  4220195795061  1.0  0.0  0.0      1
40  4220108354184  1.0  0.0  0.0      1
32  4120108836732  1.0  0.0  0.0      1
25  4210172467310  1.0  0.0  0.0      1
14  4220147830681  1.0  0.0  0.0      1
10  4520282632946  1.0  0.0  0.0      1
2   4210195297779  1.0  0.0  0.0      1
85  6110196883915  0.0  0.0  1.0      1

In [ ]:
function abc(a,b){ a + b}

function abc(a,b){ 
    a + b
}

def abc(a,b):
    a + b