In [2]:
import pandas as pd
import re

In [3]:
def attendance(x):
    x = x.replace('-','')
    l = list(set(re.findall('\d{13}',x)))
    return pd.DataFrame({"CNIC":l})

In [4]:
x = """
Ali Yaqoob3:58 PM
not from IT
Imran Ejaz3:58 PM
no from accounting.
Zeeshan Yaseen3:58 PM
Prediction and automation !
Ali Yaqoob3:59 PM
Automation, hence accuracy plus time saving.
Ali Yaqoob4:09 PM
chatgpt se hi search kerlen ge üòÅ
Ali Yaqoob4:21 PM
aammeen
Aijaz Ahmed5:36 PM
4520691925699
Abdulrafay Memon5:36 PM
45204-3483907-1
Zeeshan Yaseen5:36 PM
4220141892019
Syed Muzammil Haider5:36 PM
4210149039311
ShahzadAzam Hashmi5:36 PM
36302-4791284-7
Ali Yaqoob5:36 PM
4210150317619
M. A. Miher5:36 PM
3720117887067
syed daniyal5:36 PM
4250189782769
Dr Nadeem Shah5:36 PM
4130464926599
Iqra Talha5:37 PM
6110120315128
Sibtain Ahmed5:37 PM
41303-5613312-5
Imran Ejaz5:37 PM
Imran Ejaz 4200044884823
Ali Jilani5:37 PM
42201-1405671-9
Sundus Baloch5:37 PM
41201-0883673-2
Suhail Arif5:37 PM
Suhail Arif Hussain 422017677201
Sadiq Fazal5:37 PM
42101-7245686-0
Zain Naqvi5:37 PM
4220147830681
salman soorani5:37 PM
4210124505207
Umer Fariq5:37 PM
4220122685447
Hassan Qamar5:37 PM
Hassan Qamar 4220110629561
wardah siddiqui5:37 PM
4210166120772
muhammad anas5:37 PM
4210113165975
Saad Shoaib5:37 PM
41304-1401693-1
Nasir Ali5:37 PM
4330401845851
Fahad Aziz Khan5:38 PM
4220195795061
Muhammad Haneef5:38 PM
42201-3466487-5
MARYAM RASHID5:38 PM
42101-9854842-0
ehzam ahmed5:38 PM
42201-7632311-1
Ali Jilani5:38 PM
4220114056719
Raheel Sadruddin5:38 PM
4210129790553
Waleed Ahmed Siddiqui5:38 PM
4210195297779
Munir Mirza5:38 PM
42101-0575629-9
Hassan Saleem5:38 PM
42101-9952553-5
Ahmed Ali5:38 PM
42101-0724035-9
Hassan Qamar5:38 PM
4220110629561
Raheel Sadruddin5:38 PM
4210105390867
Mohsin Kamal5:39 PM
4230108855633
Arsalan Shaikh5:39 PM
42201-6205339-3
Ayaz Muhammad5:39 PM
45202-8263294-7 
Muhammad Ayaz
Present
Nasir Ali5:39 PM
4330401845851
Sadaf Tirmizi5:39 PM
42101-7246731-0
Sheza Shams5:39 PM
42201-0218814-0
Ayaz Muhammad5:39 PM
45202826329467
Zubair ,5:40 PM
1310104942039
Noman Younus5:40 PM
4220102372205
Suhail Arif5:40 PM
4220176777201
osama saleem5:40 PM
42201-8286143-9
42101-1693504-9
4220188550515
Muneeb Bhania5:41 PM
42101-3818298-7
Sundus Baloch5:41 PM
4120108836732
usama hanif5:41 PM
42101-3220905-9
Muneeb Bhania5:41 PM
42501-7775696-8
Ahmer Tariq5:41 PM
42201-3054964-3
Nasir Ali5:41 PM
Kamran
4230122270821
Umair Sajid5:41 PM
42201-1539594-3
Misbah Sabir5:42 PM
42101-5742100-4
Nasir Ali5:42 PM
Hassan
4240134843465
Misbah Sabir5:42 PM
42101-5802137-4
Qureshi Kainat5:42 PM
5540124860782
Misbah Sabir5:42 PM
4220108354184
Engr Mahmood Ul Hassan5:43 PM
4250185234859
Qureshi Kainat5:43 PM
4210157421004
Mohsin Kamal5:43 PM
4230108855633
Qureshi Kainat5:43 PM
4220187822116
4220178140796
upq-oxma-vmi
"""
df1 = attendance(x)
df1['c1'] = 1
print(len(df1))
df1.head()

59

            CNIC  c1
0  4220141892019   1
1  4210124505207   1
2  4220110629561   1
3  4210166120772   1
4  4220187822116   1

# Class2

In [7]:
x = """
Ahtisham Ali Khan3:49 PM
Present
Kamran Younus4:06 PM
Muhammad Kamran Younus 42301-2227082-1
Abdulrafay Memon4:10 PM
45204-3483907-1
Athar Khalid4:10 PM
why nic no?
Fahad Aziz Khan4:14 PM
its called Proprietary Products/Applications
Umer Fariq4:20 PM
cant see the shared screen
Imran Ejaz4:21 PM
Share the screen
Athar Khalid4:26 PM
gmail address is fine , sir
Kamran Younus4:30 PM
Anaconda 32 bit windows pe download ho Jaye ga?
Ifra Siddiqui4:36 PM
can you repeat once again?
M. A. Miher4:39 PM
print("Hello World?")
Imran Ejaz4:42 PM
sir jupitar per likh sukty hain?
Athar Khalid4:44 PM
done
Abdulrafay Memon4:50 PM
ji sir
Athar Khalid5:06 PM
recording drive pe share krdi  ha
Suhail Arif5:28 PM
4220176777201
insharah khan5:28 PM
4210131827012
Sundus Baloch5:28 PM
4120108835732
Ali Nawaz5:28 PM
4220157226073
Ayaz Muhammad5:28 PM
45202-8263294-7
M. A. Miher5:28 PM
3720117887067
Imran Ejaz5:28 PM
4200044884823
Muhammad Haneef5:28 PM
4220134664875
Nasir Ali5:28 PM
4330401845851
ShahzadAzam Hashmi5:28 PM
3630247912847
Mahnoor Arif5:28 PM
4220178140796
Farooq Ahmad5:28 PM
3520294446451
Noman Younus5:28 PM
4220102372205
Ifra Siddiqui5:28 PM
4250177756968
muhammad anas5:29 PM
4210113165975
Sibtain Ahmed5:29 PM
4130356133125
Abdul Mannan Khan5:29 PM
4220143572841
Abdulrafay Memon5:29 PM
4520434839071
daniyal5:29 PM
4250189782769
Zubair ,5:29 PM
1310104942039
Misbah Sabir5:29 PM
4210158021374
Fahad Aziz Khan5:29 PM
422019579065
salman soorani5:29 PM
4210124505207
Hassan Saleem5:29 PM
42101-9952553-5
Asad Khan5:29 PM
3830155517583
Athar Khalid5:29 PM
4210158892613
Fuzail Muzaffar5:29 PM
4250181112217
Sadiq Fazal5:29 PM
42101-7245686-0
Abdul Haseeb Khan5:29 PM
4220103084339
Farah Asif5:29 PM
3740680876662
Qureshi Kainat5:29 PM
5540124860782
Umair Sajid5:29 PM
4220115395943
osama saleem5:29 PM
4220182861439
ehzam ahmed5:29 PM
4220176323111
Saad Shoaib5:29 PM
4130414016931
Zafar Abbas5:29 PM
Zafar Abbas
Muneeb Bhania5:29 PM
4210138182987
Umer Fariq5:29 PM
4220122685447
Sadaf Tirmizi5:29 PM
42101-7245781-0
Atif Khan5:29 PM
4210102810113
Raheel Sadruddin5:29 PM
4210129790553
Hassan Qamar5:29 PM
4220110629561
Dr Nadeem Shah5:29 PM
4130464926599
wardah siddiqui5:29 PM
4210166120772
Mohsin Kamal5:29 PM
4230108855633
Munir Soorani5:29 PM
42101-0575629-9
Engr Mahmood Ul Hassan5:29 PM
4250185234859
Zafar Abbas5:29 PM
Zafar Abbas
37405-2371844-9
usama hanif5:29 PM
42101-3220905-9
Farah Asif5:29 PM
4210157421004
Ali Jilani5:29 PM
4220114056719
SHAHRUKH KHAN5:29 PM
4210105390867
Atif Khan5:30 PM
Atif shahzad 4210102810113
Raja Waleed5:30 PM
4220188550515
SHAHRUKH KHAN5:30 PM
4210116935049
Arsalan Shaikh5:30 PM
42201-6205339-3
Farah Asif5:30 PM
4220187822116
Syed Muzammil Haider5:30 PM
4210149039311
Farah Asif5:30 PM
4320307738760
Sadaf Tirmizi5:31 PM
42101-7245781-0
Maria Noor Amjad5:31 PM
61101-1956982-0
Syed Muzammil Haider5:31 PM
4210172457810
Aimen Iftikhar5:31 PM
Aimen
4220177849728
Sheza Shams5:31 PM
4220102188140
Rida Batool5:31 PM
42101-7245781-0
Umair Sajid5:32 PM
4140703835369
Mohsin Kamal5:32 PM
4230108855633
Umair Sajid5:32 PM
42101-2548111-7
Ahmed Ali5:32 PM
42101-0724035-9
Nasir Ali5:32 PM
Muhammad Sameer
4230135829705
Ali Yaqoob5:32 PM
4210150317619
obaid rehman5:34 PM
4240113406009
3630230577559
upq-oxma-vmi
"""
df2 = attendance(x)
print(len(df2))
df2['c2'] = 1
df2.head()

67

            CNIC  c2
0  4210124505207   1
1  4220110629561   1
2  4120108835732   1
3  4210166120772   1
4  4220187822116   1

# Final

In [13]:
df = df1.merge(df2,on='CNIC', how='outer').fillna(0)

df['total'] = df.iloc[:,1:].astype(int).sum(axis=1)
df.sort_values(by="total", inplace=True, ascending=False)

df.head(60)

             CNIC   c1   c2  total
0   4220141892019  1.0  0.0      1
1   4210124505207  1.0  1.0      2
2   4220110629561  1.0  1.0      2
3   4210166120772  1.0  1.0      2
4   4220187822116  1.0  1.0      2
5   4220108354184  1.0  0.0      1
6   3630247912847  1.0  1.0      2
7   4130414016931  1.0  1.0      2
8   4240134843465  1.0  0.0      1
9   4210158021374  1.0  1.0      2
10  4220130549643  1.0  0.0      1
11  4520691925699  1.0  0.0      1
12  4220182861439  1.0  1.0      2
13  4210129790553  1.0  1.0      2
14  4220176323111  1.0  1.0      2
15  6110120315128  1.0  0.0      1
16  4200044884823  1.0  1.0      2
17  4210199525535  1.0  1.0      2
18  4210172456860  1.0  1.0      2
19  4130356133125  1.0  1.0      2
20  4120108836732  1.0  0.0      1
21  4210198548420  1.0  0.0      1
22  4210105390867  1.0  1.0      2
23  3720117887067  1.0  1.0      2
24  4330401845851  1.0  1.0      2
25  4230108855633  1.0  1.0      2
26  4220102188140  1.0  1.0      2
27  4250185234859  1.0  1.0      2
28  4220114056719  1.0  1.0      2
29  4220188550515  1.0  1.0      2
30  5540124860782  1.0  1.0      2
31  4210107240359  1.0  1.0      2
32  4220162053393  1.0  1.0      2
33  4210113165975  1.0  1.0      2
34  4220134664875  1.0  1.0      2
35  4220122685447  1.0  1.0      2
36  4220147830681  1.0  0.0      1
37  4220102372205  1.0  1.0      2
38  4220195795061  1.0  0.0      1
39  4520434839071  1.0  1.0      2
40  4220178140796  1.0  1.0      2
41  4520282632946  1.0  0.0      1
42  4210132209059  1.0  1.0      2
43  4210150317619  1.0  1.0      2
44  4230122270821  1.0  1.0      2
45  4520282632947  1.0  1.0      2
46  4210105756299  1.0  1.0      2
47  4210172467310  1.0  0.0      1
48  4250189782769  1.0  1.0      2
49  4250177756968  1.0  1.0      2
50  4210157421004  1.0  1.0      2
51  4220176777201  1.0  1.0      2
52  4210195297779  1.0  0.0      1
53  4130464926599  1.0  1.0      2
54  4220115395943  1.0  1.0      2
55  1310104942039  1.0  1.0      2
56  4210138182987  1.0  1.0      2
57  4210116935049  1.0  1.0      2
58  4210149039311  1.0  1.0      2
59  4120108835732  0.0  1.0      1

In [ ]:
function abc(a,b){ a + b}

function abc(a,b){ 
    a + b
}

def abc(a,b):
    a + b